.center{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-width: thick;
    border-color: rgba(69, 69, 69, 0.7);
    padding: 10px;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
    transition: 0.3s;
    border-radius: 10px;
}

.top-center{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-width: thick;
    border-color: rgba(69, 69, 69, 0.7);
    padding: 10px;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
    transition: 0.3s;
    border-radius: 10px;
    z-index: 99999;
}

.smallText {
    font-size: 10px;
    margin: 0;
    color: #000000;
}
.widerTextFields {
    width: 40%;
}

.bolded{
    font-weight: bold;
}

.paintWhite{
    color: #000000;
}

button{
    margin: 1%;
    width: 18%;
}

.menuMaineee{
    vertical-align: top;
    z-index: 10;
}

.margines{
    z-index: 15;
    margin: 4%;
}
html {
    height: 100%;
}

#content {
    margin-top: 40px;
    flex: 1;
    padding: 20px;
}

#contented {
    margin-bottom: 40px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-image: url('../img/Tremendous.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}



#errorRedirectView form label:not(#mailsFromUsLabel):not(#countryLabel):not(#categoryLabel), #errorRedirectView2 form label:not(#mailsFromUsLabel):not(#countryLabel2):not(#categoryLabel2) {
    font-size: 14px;
    color: red;
    font-weight: bold;

}

.task-tile{
    background-color: white;
    border-width: 3px;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    width: 100%;
    height: 100%;
    color: black;
    text-align: center;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.task-tile:hover{
    background-color: #efefef;
    width: 101%;
    height: 101%;
}

.tile-title-txt{
    font-size: 20px;
    font-weight: bold;
}

.tile-txt{
    font-size: 14px;
}

.c-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 20px;
    margin-left: 20px;
}

.button-darken{
    width: 90%;
    margin: 10px;
    border-width: 3px;
    border-radius: 10px;
    background-color: #a2a2a2;
    transition: 0.3s;
}

.button-darken:hover{
    color: white;
    background-color: #7e7e7e;
}

.grid-layout {
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    alignment: center;
}

.grid-layout6 {
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    alignment: center;
}

/* Split the screen in half */
.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}

.left {
    left: 0;
    width: 20%;

}

/* Control the right side */
.right {
    right: 0;
    width: 80%;

}

.framewith-semi-transparent-backgroung{
    background-color: rgba(255, 255, 255, 0.8);
    border-width: 5px;
    border-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    height: 50%;
    margin: 10px;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
    transition: 0.3s;
    border-radius: 10px;
}

.frame-pages{
    background-color: rgba(255, 255, 255, 0.8);
    border-width: 5px;
    border-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    alignment: center;
    border-radius: 10px;
}

.btn-wth-auto{
    width: 100%;
    margin: 2px;
    border-width: 3px;
    border-radius: 10px;
    background-color: #a2a2a2;
    transition: 0.3s;
}

.btn-wth-auto:hover{
    color: white;
    background-color: #7e7e7e;
}

.height-adaptive{
    height: fit-content;
}

.frame{
    border-width: 2px;
    border-color: #888888;
}

.grid-layout-task {
    display: grid;
    grid-template-columns: 30% 70%;
    alignment: center;
}