<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link href="../static/css/background.css" th:href="@{/css/background.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div th:insert="fragments/nav :: nav"></div>

<div id="content">
    <div class="center">
        <h1>Training project management kit</h1><br>
        <p>A simple webapp for tasks management and projects creation.</p>
        <p>Technologies used:</p>
        <p>Java 11, Spring-boot, database: PostgreSQL</p>
        <p>Spring security, Thymeleaf</p>
        <p>HTML, CSS, JavaScript(there are a few scripts)</p>
        <br>
        <p>Design by Mateusz Niedbał</p>
        <p></p>
        <h4>FREE TO PLAY :D</h4>
        <p></p>
        <h3>Links:</h3>
        <p>It is deployed at: <a href="https://the-final-project.herokuapp.com">https://the-final-project.herokuapp.com</a></p>
        <p>Github repository: <a href="https://github.com/matned666/finalProject">https://github.com/matned666/finalProject</a></p>
        <br>
        <h2>Usage</h2>
        <br>
        <p>Just log in</p>
        <p>and try yourself</p>
        <p>You can register a user</p>
        <p>add tasks</p>
        <p>DEFAULT USERS:</p>
        <p>admin@admin.pl password: admin</p>
        <p>guest@guest.pl password: user</p>
        <p>See different possibilities according to a chosen user.</p>
        <br>
        <p>In order for the program to work, with your own database yo kave to add application.properties file with all necessary data:</p>
        <p>spring.datasource.username</p>
        <p>spring.datasource.password</p>
        <p>spring.datasource.url</p>
        <p>spring.jpa.properties.hibernate.dialect</p>
        <p>spring.datasource.driver-class-name</p>
        <p>spring.jpa.show-sql</p>
        <p>spring.jpa.hibernate.ddl-auto</p>
        <p>spring.data.web.pageable.default-page-size=6  (by default i use 6)</p>
        <br>
        <p>It is in development stage, so look forward for future features:</p>
        <br>
        <p>Future TODO is -> manage projects ,</p>
        <p>add tasks to it, project overview</p>
        <br><br>
        <h3>License:</h3>
        <p>Free to use unless you earn on it. I need a share :P</p>
        <p>Copyright 2020 Mateusz Niedbał</p>
    </div>
</div>

<div th:insert="fragments/nav :: footer"></div>

</body>
</html>