<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>User registration page</title>
    <link href="../static/css/background.css" th:href="@{/css/background.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div th:insert="fragments/nav :: nav"></div>
<div id="content">

    <div id="errorRedirectView" class="center">
        <br>
        <form action="/tasks/add" method="post" th:object="${new_task}">
            <div>
                <div th:if="${error != null}">

                    <div th:each="error : ${binding.getFieldErrors('taskName')}">
                        <label th:text="${error.getDefaultMessage()}" for="taskName"></label>
                        <br>
                    </div>
                </div>
                <input class="form-control-sm widerTextFields" type="text" id="taskName" th:field="*{taskName}"
                       placeholder="Task name"><br>

                <div th:if="${error != null}">
                    <div th:each="error : ${binding.getFieldErrors('description')}">
                        <label th:text="${error.getDefaultMessage()}" for="description"></label>
                        <br>
                    </div>
                </div>
                <input class="form-control-sm widerTextFields" type="text" id="description"
                       th:field="*{description}"
                       placeholder="Description"><br>

                <div th:if="${error != null}">
                    <div th:each="error : ${binding.getFieldErrors('timeInMinutes')}">
                        <label th:text="${error.getDefaultMessage()}" for="timeInMinutes"></label>
                        <br>
                    </div>
                </div>
                <input class="form-control-sm widerTextFields" type="number" id="timeInMinutes"
                       th:field="*{timeInMinutes}"
                       placeholder="Time in minutes(only digits)"><br>

                <input class="form-control-sm widerTextFields" type="text" id="imageUrl" th:field="*{imageUrl}"
                       placeholder="Image url"><br>

                <div th:if="${error != null}">
                    <div th:each="error : ${binding.getFieldErrors('price')}">
                        <label th:text="${error.getDefaultMessage()}" for="price"></label>
                        <br>
                    </div>
                </div>
                <input class="form-control-sm widerTextFields" type="text" id="price" th:field="*{price}"
                       placeholder="Price"><br>



                <label  style="font-weight: bold;" for="category">Category: </label>
                <br><select class="form-control-sm widerTextFields"
                            type="text" id="category"
                            th:field="*{category}">
                <option class="form-control-sm widerTextFields" th:each="c : ${categories}"
                        th:text="${c.categoryName}" th:value="${c.categoryName}"></option>
            </select><br>

                <label id="countryLabel" style="font-weight: bold;" for="complicity">Complicity: </label>
                <br><select class="form-control-sm widerTextFields"
                            type="text" id="complicity"
                            th:field="*{complicity}">
                <option class="form-control-sm widerTextFields" th:each="c : ${complicities}"
                        th:text="${c.name()}" th:value="${c.name()}"></option>
            </select><br>

                <button class="ui-button" type="submit">Register task</button>
                <br><br>
                <button type="reset">Reset</button>
                <br>

            </div>
        </form>

    </div>
</div>
<div th:insert="fragments/nav :: footer"></div>

</body>
</html>