<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link href="../static/css/background.css" th:href="@{/css/background.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>
<body>


    <div th:insert="fragments/nav :: nav"></div>
    <div id="content">

        <div class="center">
            <br><br>
            <div th:if="${param.error}">
                    <label style="color: red; font-weight: bold;">Wrong username or password</label>
            </div>
            <div th:if="${isTokenSent == 1}">
                <label style="color: red; font-weight: bold;">The password token has been sent to your mail box, follow the instructions.</label>
            </div>
            <form action="/login-process" method="post">
                <input class="form-control-sm widerTextFields" type="email" name="username"
                       placeholder="e-mail"><br>
                <input class="form-control-sm widerTextFields" type="password" name="password"
                       placeholder="password"><br>
                <br>
                <br>
                <button class="ui-button button-darken width200" type="submit" >Login</button>
                <br>
            </form>
            <br>
            <a href="/resetPassword"><button class="ui-button button-darken width200" >Reset password</button></a>

            <a href="/register">
                <button class="ui-button button-darken width200" >Register</button>
            </a>
        </div>
    </div>
<div th:insert="fragments/nav :: footer"></div>

</body>
</html>