<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
    <link href="../static/css/background.css" th:href="@{/css/background.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/project.css" th:href="@{/css/project.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:insert="fragments/nav :: nav"></div>
<div id="content">
    <div class="grid-layout-project">
        <div class="center-project-panel">
            <h2>Project overview:</h2>
            <br><br><br>
            <span style="font-weight: bold">Project name: </span><h3 th:text="${project.name}"></h3><br>
            <span style="font-weight: bold">Project owner: </span><span sec:authentication="name"></span><br>
            <span style="font-weight: bold">Project cost: </span><span th:text="${totalPrice}"></span><span>€</span><br>
            <span style="font-weight: bold">Project time: </span><span
                th:text="${totalTime}"></span><span> minutes</span><br>
            <span style="font-weight: bold">Project Description: </span><span
                th:text="${project.description}"></span><br>
            <span style="font-weight: bold">Project start: </span><span th:text="${project.projectStart}"></span><br>
            <span style="font-weight: bold">Project deadline: </span><span
                th:text="${project.projectDeadline}"></span><br>
            <br><br>
            <a th:href="@{/projects/{projectId}/rename (projectId = ${project.id})}">
                <button class="ui-button button-darken">Edit project</button>
            </a><br>
            <a th:href="@{/projects/{projectId}/clear (projectId = ${project.id})}">
                <button class="ui-button button-darken"
                        onclick="return confirm('Are you sure you want to remove all tasks from this project?');">
                    Clear project
                </button>
            </a><br>
            <a th:href="@{/projects/{projectId}/delete (projectId = ${project.id})}">
                <button class="ui-button button-darken"
                        onclick="return confirm('Are you sure you want to delete this project?');">
                    Delete project
                </button>
            </a>
        </div>
        <div class="center-project-panel">
            <span>Tasks in the project:</span>
            <div th:each="projectTask : ${projectTasks}" id="drag0" draggable="true" ondragstart="drag(event)">
                <div>
                    <div class="task-tile grid-task-element-project">
                        <div>
                            <a th:href="@{/projects/{project_id}/move-task-up/{task_id}(project_id = ${projectId}, task_id = ${projectTask.id})}">
                                <button class="round-sm-button-add">Up</button>
                            </a>
                            <a th:href="@{/projects/{project_id}/move-task-down/{task_id}(project_id = ${projectId}, task_id = ${projectTask.id})}">
                                <button class="round-sm-button-add">Down</button>
                            </a>
                            <br>
                            <a th:href="@{/projects/{project_id}/delete/{task_id}(project_id = ${projectId}, task_id = ${projectTask.id})}">
                                <button onclick="return confirm('Are you sure you want to delete this task from project?');"
                                        class="round-sm-button-add">Remove
                                </button>
                            </a>
                            <a th:href="@{/projects/{project_id}/setDone/{task_id}(project_id = ${projectId}, task_id = ${projectTask.id})}">
                                <button th:if="${projectTask.isDone()}" class="round-sm-button-add-alright">Done
                                </button>
                                <button th:if="${!projectTask.isDone()}" class="round-sm-button-add-wrong">To do
                                </button>
                            </a>
                        </div>
                        <div>
                            <div class="tile-txt">
                                <img th:src="@{${projectTask.imageUrl}}" alt="task image" height="100" src="">
                            </div>
                        </div>
                        <div>
                            <div class="tile-title-txt">
                                <span style="font-weight: bold">Title: </span>
                                <span th:text="${projectTask.taskName}"></span>
                            </div>
                            <div class="tile-txt">
                                <span style="font-weight: bold">Position in project: </span>
                                <span th:text="${projectTask.positionInProject}"></span>
                            </div>
                            <div class="tile-txt">
                                <span style="font-weight: bold">Time TODO: </span>
                                <span th:text="${projectTask.timeInMinutes}"></span>
                                <span> minutes</span>
                            </div>
                            <div class="tile-txt">
                                <span style="font-weight: bold">Price: </span>
                                <span th:text="${projectTask.price}"></span>
                                <span> EUR </span>
                            </div>
                            <div class="tile-txt">
                                <span style="font-weight: bold">Description: </span>
                                <span th:text="${projectTask.description}"></span>
                            </div>
                            <div class="tile-txt">
                                <span style="font-weight: bold">Category: </span>
                                <span th:text="${projectTask.category}"></span>
                            </div>
                            <div class="tile-txt">
                                <span style="font-weight: bold">Complicity: </span>
                                <span th:text="${projectTask.complicity}"></span>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="center-project-panel">
            <span>All available tasks:</span><br>
            <a th:href="@{/tasks/add/{where} (where = ${project.id})}">
                <button class="ui-button button-darken">Add new task</button>
            </a><br>
            <div>
                <span style="font-weight: bold">Pages:</span>
                <div class="frame-pages">
                    <th:block th:each="i: ${#numbers.sequence(0, availableTasks.getTotalPages() - 1)}">
                        <a th:href="@{/projects/{projectId}(page=${i}, projectId=${projectId})}">
                            <button class="btn-wth-auto" th:text="${i+1}"></button>
                        </a>
                    </th:block>
                </div>

            </div>
            <div th:each="task : ${availableTasks}" id="drag1" draggable="true" ondragstart="drag(event)">
                <div>

                    <div class="task-tile grid-task-element-project">
                        <a th:href="@{/projects/{project_id}/add/{task_id}(project_id = ${projectId}, task_id = ${task.id})}">
                            <div>
                                <button class="round-button-add">Add task</button>
                            </div>
                        </a>

                        <div>
                            <div class="tile-txt">
                                <img th:src="@{${task.imageUrl}}" alt="task image" height="100" src="">
                            </div>
                        </div>
                        <div>
                            <div class="tile-title-txt">
                                <span style="font-weight: bold">Title: </span>
                                <span th:text="${task.taskName}"></span>
                            </div>
                            <div class="tile-txt">
                                <span style="font-weight: bold">Time TODO: </span>
                                <span th:text="${task.timeInMinutes}"></span>
                                <span> minutes</span>
                            </div>
                            <div class="tile-txt">
                                <span style="font-weight: bold">Price: </span>
                                <span th:text="${task.price}"></span>
                                <span> EUR </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div th:insert="fragments/nav :: footer"></div>
</body>
</html>