<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>User registration page</title>
    <link href="../static/css/background.css" th:href="@{/css/background.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $('#date_birth2').datepicker({ dateFormat: 'yy-mm-dd' }).val();
        } );
    </script>
</head>
<body>

<div th:insert="fragments/nav :: nav"></div>
<div id="content">

    <div id="errorRedirectView" class="center">
        <br>
        <form action="/register" method="post" th:object="${registrationObject}">
            <div>
                <div th:if="${error != null}">
                    <div th:each="error : ${binding.getFieldErrors('login')}">
                        <label th:text="${error.getDefaultMessage()}"></label>
                        <br>
                    </div>
                </div>
                <input class="form-control-sm widerTextFields" type="text" th:field="*{login}"
                       placeholder="e-mail"><br>
                <div th:if="${error != null}">
                    <div th:each="error : ${binding.getGlobalErrors()}">
                        <label th:text="${error.getDefaultMessage()}"></label>
                        <br>
                    </div>
                </div>
                <div th:if="${error != null}">
                    <div th:each="error : ${binding.getFieldErrors('password')}">
                        <label th:text="${error.getDefaultMessage()}"></label>
                        <br>
                    </div>
                </div>
                <input class="form-control-sm widerTextFields" type="password" id="pass2" th:field="*{password}"
                       placeholder="password"><br>
                <div th:if="${error != null}">
                    <div th:each="error : ${binding.getFieldErrors('passwordConfirm')}">
                        <label th:text="${error.getDefaultMessage()}"></label>
                        <br>
                    </div>
                </div>
                <input class="form-control-sm widerTextFields" type="password" id="conf_pass2"
                       th:field="*{passwordConfirm}"
                       placeholder="password"><br>
                <div th:if="${error != null}">
                    <div th:each="error : ${binding.getFieldErrors('firstName')}">
                        <label th:text="${error.getDefaultMessage()}"></label>
                        <br>
                    </div>
                </div>
                <input class="form-control-sm widerTextFields" type="text" id="user_first_name2"
                       th:field="*{firstName}"
                       placeholder="First name"><br>
                <div th:if="${error != null}">
                    <div th:each="error : ${binding.getFieldErrors('lastName')}">
                        <label th:text="${error.getDefaultMessage()}"></label>
                        <br>
                    </div>
                </div>
                <input class="form-control-sm widerTextFields" type="text" id="user_last_name2"
                       th:field="*{lastName}"
                       placeholder="Last name"><br>
                <input class="form-control-sm widerTextFields" type="text" id="user_street2"
                       th:field="*{street}"
                       placeholder="Street and number"><br>
                <input class="form-control-sm widerTextFields" type="text" id="zip2"
                       th:field="*{zipCode}"
                       placeholder="Zip-code"><br>
                <input class="form-control-sm widerTextFields" type="text" id="city2" th:field="*{city}"
                       placeholder="City"><br>
                <label id="countryLabel" style="font-weight: bold;" for="country2">Country: </label>
                <br><select class="form-control-sm widerTextFields"
                            type="text" id="country2"
                            th:field="*{country}">
                <option class="form-control-sm widerTextFields" th:each="c : ${countries}"
                        th:text="${c.getPlName()}"
                        th:value="${c.getSymbol()}"></option>
            </select><br>
                <div th:if="${error != null}">
                    <div th:each="error : ${binding.getFieldErrors('birthDate')}">
                        <label th:text="${error.getDefaultMessage()}"></label>
                        <br>
                    </div>
                </div>
                <input class="form-control-sm widerTextFields" type="text" id="date_birth2"
                       th:field="*{birthDate}"
                       placeholder="Date of birth: yyyy-MM-dd"><br>
                <div th:if="${error != null}">
                    <div th:each="error : ${binding.getFieldErrors('phoneNumber')}">
                        <label th:text="${error.getDefaultMessage()}"></label>
                        <br>
                    </div>
                </div>
                <input class="form-control-sm widerTextFields" type="text" id="phone2"
                       th:field="*{phoneNumber}"
                       placeholder="Phone number"><br>
                <label id="mailsFromUsLabel" style="font-weight: bold;" class="paintWhite"
                       for="prefer2">Would you like
                    to receive emails from
                    us?</label>
                <input id="prefer2" type="checkbox" th:field="*{preferEmails}"/><br>
                <button class="ui-button" type="submit">Register</button>
                <br><br>
                <button type="reset">Reset</button>
                <br>

            </div>
        </form>

        <br><br>
        <span style="color: red">Please, note that this is just a testing application.</span>
        <span style="color: red">Many people may have access to the data.</span>
        <span style="color: red; font-weight: bold">DO NOT INSERT YOUR REAL DATA !!!</span>
    </div>
</div>
<div th:insert="fragments/nav :: footer"></div>

</body>
</html>