<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link href="../static/css/background.css" th:href="@{/css/background.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script>
        $( "#target" ).click(function() {
            alert( "Handler for .click() called." );
        });
    </script>
</head>
<body>

<div th:insert="fragments/nav :: nav"></div>

<div id="content" class="center">

    <div th:if="${task != null}">
        <div th:object="${task}">
            <br>
            <h1>User data:</h1>
            <span class="bolded">Name: </span><span th:text="*{taskName}"></span><br>
            <span class="bolded">Description: </span><br><span th:text="*{description}"></span><br>
            <span class="bolded">Task time: </span><span th:text="*{timeInMinutes}"></span><span> minutes</span><br>
            <span class="bolded">Price: </span><span th:text="*{price}"></span><br>
            <span class="bolded">Category: </span><span th:text="*{category}"></span><br>
            <span class="bolded">Complicity: </span><span th:text="*{complicity}"></span><br>
            <span class="bolded">Audit:</span><br>
            <span class="bolded">Id: </span><span th:text="*{id}"></span><br>
            <span class="bolded">Deployment time: </span><span th:if="*{creationTime != null}"
                                                               th:text="*{creationTime.toString()}"></span><br>
            <span class="bolded">Update time: </span><span th:if="*{updateTime != null}"
                                                           th:text="*{updateTime.toString()}"></span><br><br>
        </div>
        <a id="target" th:href="@{edit/{id}(id = ${task.getId()})}">
            <button type="button" class="btn btn-secondary btn-lg">
                Edit task data
            </button>
        </a>
        <a th:href="@{delete/{id}(id = ${task.getId()})}">
            <button type="button" class="btn btn-secondary btn-lg">
                Delete task
            </button>
        </a>

        <div th:unless="${task != null}">
            <span>no such task</span>
        </div>
    </div>


</div>

<div th:insert="fragments/nav :: footer">

</div>
</body>
</html>