<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link href="../static/css/background.css" th:href="@{/css/background.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div th:insert="fragments/nav :: nav"></div>

<div id="content" class="center">

    <div th:object="${task}">
        <br>
        <h1><span class="bolded">User data, id: </span><span th:text="*{id}"></span></h1>
        <span class="bolded">Task name: </span><span th:text="*{taskName}"></span><br>
        <span class="bolded">Description: </span><span th:text="*{description}"></span><br>
        <span class="bolded">Task time: </span><span th:if="*{timeInMinutes != null}"></span><br><br>
        <span class="bolded">Address:</span><br>
        <span class="bolded">Street: </span><span th:text="*{address.street}"></span><br>
        <span class="bolded">Zip code: </span><span th:text="*{address.zipCode}"></span><br>
        <span class="bolded">City: </span><span th:text="*{address.city}"></span><br>
        <span class="bolded">Country: </span><span th:text="*{address.country.getPlName()}"></span><br><br>
        <span class="bolded">Contact:</span><br>
        <span class="bolded">Email: </span><span th:text="*{login}"></span><br>
        <span class="bolded">Phone number: </span><span th:text="*{phoneNumber}"></span><br>
        <span class="bolded">Creation time: </span><span th:text="*{creationTime}"></span><br><br>
        <a th:href="@{account/{id}(id = ${user.getId()})}">
            <button type="button" class="btn btn-secondary btn-lg">Edit your data</button>
        </a>
    </div>

    <div sec:authorize="hasRole('ROLE_ADMIN')">

        <h1>WELCOME ADMIN</h1>
        <div th:if="${userToSee != null}">
            <div th:object="${userToSee}">
                <br>
                <h1>User data:</h1>
                <span class="bolded">Name: </span><span th:text="*{firstName}"></span><br>
                <span class="bolded">Surname: </span><span th:text="*{lastName}"></span><br>
                <span class="bolded">Birth date: </span><span th:if="*{birthDate != null}" th:text="*{birthDate.toString()}"></span><br><br>
                <span class="bolded">Address:</span><br>
                <span class="bolded">Street: </span><span th:text="*{address.street}"></span><br>
                <span class="bolded">Zip code: </span><span th:text="*{address.zipCode}"></span><br>
                <span class="bolded">City: </span><span th:text="*{address.city}"></span><br>
                <span class="bolded">Country: </span><span th:text="*{address.country.getPlName()}"></span><br><br>
                <span class="bolded">Contact:</span><br>
                <span class="bolded">Email: </span><span th:text="*{login}"></span><br>
                <span class="bolded">Phone number: </span><span th:text="*{phoneNumber}"></span><br><br>
                <span class="bolded">Password hash: </span><span th:text="*{password}"></span><br>
            </div>
            <a th:href="@{account/{id}(id = ${userToSee.getId()})}">
                <button type="button" class="btn btn-secondary btn-lg">
                    Edit user data
                </button>
            </a>
            <a th:href="@{account-delete/{id}(id = ${userToSee.getId()})}">
                <button type="button" class="btn btn-secondary btn-lg">
                    Delete user data
                </button>
            </a>
        </div>
        <div th:unless="${userToSee != null}">
            <span>no such user</span>
        </div>
    </div>
</div>


<div th:insert="fragments/nav :: footer">

</div>

</body>
</html>