<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>All users list</title>
    <link href="../static/css/background.css" th:href="@{/css/background.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" type="text/css">
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div th:insert="fragments/nav :: nav"></div>
<div id="content">
    <div class="grid-layout6">

        <th:block th:each="user : ${all_users}" >
            <div class="center">
                <span style="font-weight: bold">Login: </span>
                <span class="frame" th:text="${user.login}"></span><br>
                <span style="font-weight: bold">First name: </span>
                <span class="frame"th:text="${user.firstName}"></span><br>
                <span style="font-weight: bold">Last name: </span>
                <span class="frame"th:text="${user.lastName}">...</span><br>
                <a th:href="@{account/{id}(id = ${user.getId()})}">
                    <button style="width: fit-content;">Check profile</button>
                </a>
            </div>
        </th:block>
    </div>
</div>
<div th:insert="fragments/nav :: footer"></div>

</body>
</html>